
.cetp{
  border-radius: 10px;
}
.respuesta1 {
  border-radius: 10px;
}
.respuesta2 {
  border-radius: 10px;
}
.respuesta3 {
  border-radius: 10px;
}
.respuesta4 {
  border-radius: 10px;
}

.reintentar {
  border-radius:10px;
}
